<!-- Created by Isabel Chorbajian-->
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title>Welcome to Arraial do Cabo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=devide-width, initial-scale=1">
</head>
<body>

	<div id="container">
	<!-- Use the header area for the website name or logo-->
	<header>
		<a href="index.html"><img src="images/logo.jpg" alt="Arraial do Cabo logo">
		</a>
	</header>
	
	<!-- Use the nav area to add hyperlinks to other pages within the website -->
	<nav>
		<ul>
			<a href="index.html">Home</a> &nbsp; &nbsp;
			<a href="places.html">Places to visit</a> &nbsp; &nbsp;
			<a href="photogallery.html">Photo Gallery</a> &nbsp; &nbsp;
			<a href="contact.html">Contact Us</a>
		</ul>
	</nav>

<!-- footer content -->
	<footer>
		&copy; Copyright 2017. All Rights Reserved.
		<br/>
		<a href="mailto:arraialdocabo@ctbc.com.br">
		arraialdocabo@ctbc.com.br</a>
	</footer>	
	
	
</body>
</html>