<!-- Created by Isabel Chorbajian-->

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to Arraial do Cabo</title>
</head>
<body>
	<header>
		<a href="index.html">Welcome to Arraial do Cabo</a>
	<!-- Use the header area for the website name or logo-->
	<header>
		<a href="index.html"><img src="images/logo.jpg" alt="Arraial do Cabo logo">
		</a>
		</header>
	<!-- nav bar -->
	<nav>
		<a href="index.html">Home</a> &nbsp; &nbsp;
		<a href="places.html">Places to visit</a> &nbsp; &nbsp;
		<a href="photogallery.html">Photo Gallery</a> &nbsp; &nbsp;
		<a href="contact.html">Contact Us</a>
	</nav>
	<!-- content of the page -->
	<main>
		<p>Welcome to Arraial do Cabo! A municipality located in the Brazilian state of Rio de Janeiro.</p>
		
		<p> Arraial is home to a working fishing port, Porto do Forno, which lends it a welcoming working-class demeanor.</p>
		
		<p>Escape hustle and bustle of Rio de Janeiro and get to know the beautiful 'Brazilian Caribe’, the beautiful Arraial do Cabo city, coming from Rio de Janeiro with all comfort, transportation, lunch, snorkeling and visits to all the major tourist spots of this beautiful city of crystal clear waters.</p>
		
	</main>	
	<!-- footer content -->
	<footer>
		&copy; Copyright 2017. All Rights Reserved.
		<br/>
		<a href="mailto:arraialdocabo@ctbc.com.br">
		arraialdocabo@ctbc.com.br</a>
	</footer>	
	
	
</body>
</html>