<!-- Created by Isabel Chorbajian-->

<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title>Welcome To Arraial do Cabo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=devide-width, initial-scale=1">
	
</head>
<body>
	<!--<header>
		<a href="index.html">Welcome to Arraial do Cabo</a>
	</header> -->
	<header>
		<a href="index.html"><img src="images/logo.jpg" alt="Arraial do Cabo logo">
		</a>
	</header>
		
	<!-- nav bar -->
	<nav>
		<a href="index.html">Home</a> &nbsp; &nbsp;
		<a href="places.html">Places to visit</a> &nbsp; &nbsp;
		<a href="photogallery.html">Photo Gallery</a> &nbsp; &nbsp;
		<a href="contact.html">Contact Us</a>
	</nav>
	<!-- content of the page -->
	<main>
		<section>
			<h1>Prainhas do Pontal do Atalaia</h1>
			<img class="beaches" src="images/beach.jpg" alt="Prainha do Pontal">
			
			<p>Only reachable by car or by boat. it is considered as one of the most beautiful beaches in Brazil. Crystal clear warm water, baking powder fine sand and beautiful and calm environment.</p>
		</section>
		
		<section>
			<h1>Gruta Azul</h1>
			<img class="beaches" src="images/cave.jpg" alt="Gruta Azul">
			
			<p>Crystal clear waters on the Atlantic Ocean, many boats go there to see an impressive cave called Gruta Azul. You can even see whales when they search for less cold waters for laboring. It is a must see place in the north of Rio State. You should never miss seeing Gruta Azul, an important plus in your trip to Brazil.</p>
		</section>

		<section>
			<h1>Casa Victorrino Carrico</h1>
			<img class="beaches" src="images/poesia.jpg" alt="Casa da Poesia">
			
			<p>The House of Poetry Victorino Carriço was the home of the poet Victorino Carriço, author of the anthem of the city of Arraial do Cabo. Located in the historical center, in the shadow of Nossa Senhora dos Remédios Church, it is a public space where there are soiree, readings of tales and poetry, as well as literary workshops.</p>
		</section>	
			
		
	</main>	
	<!-- footer content -->
	<footer>
		&copy; Copyright 2017. All Rights Reserved.
		<br/>
		<a href="mailto:arraialdocabo@ctbc.com.br">
		arraialdocabo@ctbc.com.br</a>
	</footer>	
	
	
</body>
</html>